/* 
Main Colors:
  Baby Blue Eyes: #ABD7FF 
  Wine: #732C2C;
  Maize Caryola: #E8C547;

  Shadow: rgb(190, 190, 190)
*/

:root {
  --babyBlueColor: #ABD7FF;
  --wineColor: #732C2C;
  --maineCrayolaColor: #E8C547;
  --btnShadowColor: rgb(190, 190, 190);
  --blackColor: #212121;
  --whiteColor: white;
}

.lightTheme {
  --backgroundColor: var(--whiteColor);
  --txtColor: var(--wineColor);
  --shadowColor: 3px 3px 3px var(var(--btnShadowColor));
}

.darkTheme  {
  --backgroundColor: var(--blackColor);
  --txtColor: var(--whiteColor);
  --shadowColor: 3px 3px 3px var(var(--btnShadowColor));
}

* {
  background: var(--backgroundColor);
  transition: background-color 0.6s ease;
}

body  {
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
}

main  {
  height: 100vh;
}

h3  {
  margin: 0;
}

/* Navbar */
.Navbar {
  background-color: var(--backgroundColor);
  height: auto;
  box-shadow: 0px 2px 5px rgb(190, 190, 190);
  display: flex;
  margin-bottom: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: space-evenly;
}

.iconContainer  {
  background-color: var(--backgroundColor);
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 0px 5px var(--btnShadowColor);
  margin-right: 25px;
}

.iconImages {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconContainer:hover  {
  transform: scale(1.10);
  cursor: pointer;
}

.themeIconContainer  {
  background-color: var(--backgroundColor);
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 25px;
  transition: all 0.2s ease;
  border-radius: 50%;
  box-shadow: 0px 2px 5px var(--btnShadowColor);
}

.themeIconImages {
  position: absolute;
  width: 40px;
  margin: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.themeIconContainer:hover  {
  transform: scale(1.20);
  cursor: pointer;
}

#bigBtn {
  border-radius: 50%;
}

/* Tracking Page Styling */
.trackContainer {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  border-radius: 25px;
  margin: auto;
  padding: 2.5%;
  transition-property: transform;
  transition-duration: 0.5s;
}

.trackText  {
  color: var(--txtColor);
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 2%;
}

.addTaskBtn  {
  background-color: var(--backgroundColor);
  width: 50vh;
  cursor: pointer;
  border-radius: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  margin: 2.5%;
  border: 0 var(--whiteColor);
}

.addTaskBtn:hover  {
  transform: scale(1.1);
  box-shadow: 7px 7px 6px var(--btnShadowColor);
}

/* Modal Styling */
.modalLayout  {
  margin-left: 5%;
  margin-right: 5%;
  padding: 2.5%;
  border-radius: 25px;
  width:90% !important; top: 5%;
  color: var(--txtColor);
}

.modalBody  {
  background-color: var(--backgroundColor);
  font-size: large;
  font-weight: 700;
  width: 90%;
}

.modalTitle {
  font-size: large;
  font-weight: 700;
  color: var(--txtColor);
}

.form-label, p  {
  padding-top: 5%;
}

.addAndSubtractTimeBtn  {
  width: 3.5em;
  height: 3.5em;
  margin: 10%;
  border-radius: 50%;
  border: none;
  background: none;
}

.modalTxt {
  margin: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.25em;
  background-color: var(--btnShadowColor);
  border-radius: 25px;
  display: block;
  text-align: center;
  color: var(--txtColor);
}

.modal-footer {
  background-color: var(--backgroundColor);
}

.modal-content  {
  background-color: var(--backgroundColor) !important;
}

#durationTxt  {
  margin-bottom: 0;
  padding: 0.25em;
}

.listTags {
  list-style: none;
  padding-left: 0;
}

.addTagSymbol  {
  width: 30px;
  margin-right: 1em;
}

.listTagsLi {
  font-weight: 400;
}

.tagsBtns {
  border: none;
  background-color: var(--backgroundColor);
}

.columnModal  {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rowModal {
  margin-bottom: 5em;
}

.tagBtnWithText {
  display: inline-block;
  color: var(--txtColor);
  width: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  height: auto;
  font-weight: 400;
}

.tagContainer {
  display: block;
  text-align: center;
  width: auto;
  margin: 0.1em;
  padding-left: 0.5em;
  border-radius: 15px;
}

.tagContainer:hover {
  background-color: #E8C547;
}
