/* 
Main Colors:
Blue Color: #ABD7FF 
Wine: #732C2C;
Shadow: rgb(190, 190, 190)
*/

body  {
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
}

h3  {
  margin: 0;
}

/* Navbar */
.Navbar {
  height: auto;
  box-shadow: 0px 2px 5px rgb(190, 190, 190);
  display: flex;
  margin-bottom: 2.5%;
}

.iconContainer  {
  width: 50px;
  height: 50px;
  box-shadow: 2px 0px 5px rgb(190, 190, 190);
  position: relative;
  margin-right: 25px;
}

.iconImages {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tracking Page Styling */
.trackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  border-radius: 25px;
  margin: auto;
  padding: 2.5%;
  transition-property: transform;
  transition-duration: 0.5s;
}

.trackText  {
  color: #732C2C;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 2%;
}

.addTaskBtn  {
  width: 45vw;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  margin: 2.5%;
  border: 0 white;
}

.addTaskBtn:hover  {
  transform: scale(1.1);
  box-shadow: 3px 5px 6px rgb(190, 190, 190);
}

/* Modal Styling */
.modalLayout  {
  /* position: absolute; */
  margin-left: 5%;
  margin-right: 5%;
  padding: 2.5%;
  border-radius: 25px;
  /* box-shadow: 3px 3px 6px rgb(190, 190, 190); */
  width:90% !important; top: 5%;
}

.modalBody  {
  font-size: large;
  font-weight: 700;
}

.form-label, p  {
  padding-top: 5%;
}